body {
  font-size: 18px;
  background: $light;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-title;
}

a {
  &[href] {
    transition: all .25s ease-in;
    text-decoration: none;
    color: $blue-trick;

    &:hover {
      color: $dark;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
  }

  &.trick-title {
    color: #666;
  }
}

main#main .container {
  margin-top: -3.125rem;
  margin-bottom: 3rem;
  padding-top: 6.875rem;
}

.bg-blue-trick {
  background-color: $blue-trick;
}

.btn-blue-trick {
  color: $white;
  background-color: $blue-trick;

  &:hover {
    color: $white;
    background-color: $blue-trick-dark;
  }
}

.text-justify {
  text-align: justify;
}

#trickDetails {
  a:not(.image) {
    padding: 0 3px;
    transition: all .25s ease-in;
    text-decoration: none;
    color: $blue-trick;

    &:hover {
      cursor: pointer;
      color: $light;
      border-radius: 2px;
      background-color: $blue-trick;
    }
  }
}

.metaDesc {
  span {
    font-size: 80%;

    &:not(.badge) {
      color: #6c757d;
    }
  }
}

.h-100vh {
  height: 100vh;
}

.p-90 {
  padding-top: 90px;
}
