header {
  &.splash-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: $light;
    background-image: url('/public/img/home_background.webp'), url('/public/img/home_background.jpg');
    background-size: cover;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background-image: linear-gradient(to top, transparent, rgba(50, 90, 255, .9));
    }

    h1.text-header {
      @include rfs(64px);
      text-shadow: 0 0 10px rgba(33, 37, 41, 0.7);
    }

    a#scroll_down {
      text-decoration: none;
      color: #888;

      &:hover {
        color: #444;
      }
    }

    #scroll_down {
      font-size: 2.5em;
      position: absolute;
      top: 85vh;
      display: flex;
      justify-content: center;
      width: 64px;
      height: 64px;
      padding-top: .75rem;
      transition: $transition-base;
      border-radius: 50%;
      background-color: rgba(240, 245, 250, 0.6);

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        background-color: #eee;
      }
    }
  }
}

