$font-family-base: 'Open Sans', sans-serif;
$font-family-title: 'Permanent Marker', cursive;

$light: #f0f5fa;
$dark: #212529;

$light-transparency: rgba(240, 245, 250, 0.95);

$transition-base: all .25s ease-in-out;

$enable-shadows: true;
