<footer class="page-footer font-small bg-dark">
    <div class="container py-5">
        <div class="text-light text-center d-flex justify-content-center">
            <span class="copyright">© SnowTricks - 2021</span>

            <ul class="social-list d-flex">
                <li class="social-item"><a href="https://instagram.com" title="Instragram"><i class="fab fa-instagram"></i></a></li>
                <li class="social-item"><a href="https://twitter.com" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="social-item"><a href="https://youtube.com" title="YouTube"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
